* {
    margin: 0;
}

.white-blue {
    background-color: #F9F7F7;
}

.light-blue {
    background-color: #DBE2EF;
}

.blue {
    background-color: #3F72AF;
}

.dark-blue {
    background-color: #112D4E;
}

h2 {
    font-size: 3em;
}

ul {
    padding-left: 16px;
}

ul li {
    padding-bottom: 5px;
    list-style-position: outside;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: rgba(63, 114, 175, 1);
}

.nav-bar a {
    height: 100%;
}

.logo {
    height: 100%;
}

.links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 15%;
    font-size: 1.5em;
    margin-right: 40px;
}

.links li {
    text-align: center;
}

.links a {
    text-decoration: none;
    padding: 11px;
    color: #DBE2EF;
}

.links a:hover {
    color: white;
}

.cover-section {
    position: fixed;
    top: 0;
    max-height: 80vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.cover-logo {
    position: absolute;
    background-color: rgba(63, 114, 175, 0.7);
    border-radius: 10px;
    left: 10%;
    top: 20%;
    width: 60%;
    font-size: 3rem;
    color: #F9F7F7;
    -webkit-text-stroke: 1px #112D4E;
}

.cover-photo {
    object-fit: cover;
    height: 80vh;
    width: 100%;
}

.grid-container {
    margin-top: 75vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 20px;
    padding-right: 20px;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    row-gap: 5vh;
}

.grid-item img {
    object-fit: cover;
    width: 100%;
    min-width: 400px;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-section {
    width: 50%;
    color: #112D4E;
}

.text-section h2 {
    margin-bottom: 0.5em;
}

.text-section p {
    font-size: 1.25em;
    margin-bottom: 0.75em;
}

.learn-more {
    background-color: #DBE2EF;
    color: #3F72AF;
    border: 0;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px;
}

.learn-more:hover {
    background-color: #3F72AF;
    color: #DBE2EF;
    cursor: pointer;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-flex {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.section-item {
    width: 40%;
}

.section-item img {
    width: 100%;
}

.section {
    padding-top: 5vh;
}

.section img{
    height: 200px;
    object-fit: contain;
}

.product {
    color: #F9F7F7;
}

.product .text-section {
    text-align: center;
    width: 100%;
    color: #F9F7F7;
}


@media (max-width: 1200px){

    h2 {
        font-size: 2em;
    }

    .text-section p {
        font-size: 1em;
    }

    .cover-section, .cover-photo {
        height: 60vh;
    }

    .grid-container {
        padding-top: 5vh;
        margin-top: 55vh;
    }
}

@media (max-width: 850px) {
    .grid {
        grid-template-columns: 1fr;
    }
}